.btn {
    width: 255px;
    height: 42px;
    border-radius: 5px;
    background-color: $color-02;
    @include centralizar();
    margin-left: auto;
    transition: all .5s;
    cursor: pointer;
    a,
    button,
    p {
        color: $color-01;
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
        font-family: $Poppins;
        cursor: pointer;
    }
    &:hover {
        background-color: #4100cc;
        transition: all .5s;
    }
    button {
        background-color: transparent;
        border: none;
        outline: none;
        width: 100%;
        height: 60px;
    }
    &.button {
        height: 60px;
        margin-left: 0px;
    }
    &.btn-blog {
        background-color: $color-09;
        width: 255px;
        height: 42px;
        border-radius: 5px;
        a {
            color: $color-01;
            font-size: $span;
            line-height: 24px;
            font-family: $Poppins;
            font-weight: 400;
        }
    }
    &.btn-sobre-blog {
        width: 160px;
        height: 42px;
        border-radius: 5px;
        border: 1px solid $color-02;
        background-color: $color-04;
        a {
            color: $color-10;
            font-family: $Poppins;
            font-size: $span;
            font-weight: 400;
            line-height: 24px;
        }
    }
}

.btn-blog-post {
    @include centralizar();
    height: 27px;
    padding-left: 9px;
    padding-right: 10px;
    border-radius: 5px;
    background-color: $color-08;
    color: $color-10;
    font-family: $Poppins;
    font-size: $span-02;
    font-weight: 400;
    line-height: 18px;
}

.btn-gostou {
    width: 160px;
    height: 60px;
    border-radius: 5px;
    border: 1px solid $color-16;
    transition: all .3s;
    &:hover {
        border: 1px solid $color-02;
        transition: all .3s;
        a {
            color: $color-02;
            transition: all .3s;
            &:before {
                background-color: $color-02;
                transition: all .3s;
            }
        }
    }
    a {
        width: 100%;
        height: 100%;
        @include centralizar();
        color: $color-10;
        font-family: $Poppins;
        font-size: $span;
        font-weight: 400;
        line-height: 24px;
        position: relative;
        margin-left: 10px;
        &:before {
            content: '';
            display: block;
            
            background-repeat: no-repeat;
            width: 16px;
            height: 16px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 43px;
            background-color: #b7bac4
        }
    }
}

.btn-nao-gostou {
    width: 160px;
    height: 60px;
    border-radius: 5px;
    border: 1px solid $color-16;
    transition: all .3s;
    &:hover {
        border: 1px solid $color-02;
        transition: all .3s;
        a {
            color: $color-02;
            transition: all .3s;
            &:before {
                background-color: $color-02;
                transition: all .3s;
            }
        }
    }
    a {
        width: 100%;
        height: 100%;
        @include centralizar();
        color: $color-10;
        font-family: $Poppins;
        font-size: $span;
        font-weight: 400;
        line-height: 24px;
        position: relative;
        margin-left: 10px;
        &:before {
            content: '';
            display: block;
            -webkit-mask: url('../../img/blog-post/blog-post-10.svg');
            background-repeat: no-repeat;
            width: 16px;
            height: 16px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 43px;
            background-color: #b7bac4
        }
    }
}

.btn-obrigado {
    width: 255px;
    height: 60px;
    border-radius: 5px;
    border: 1px solid $color-02;
    transition: all .5s;
    &:hover {
        transition: all .5s;
        a {
            background-color: $color-02;
            color: $color-01;
            transition: all .5s;
        }
    }
    a {
        @include centralizar();
        height: 100%;
        color: $color-02;
        font-size: $span;
        line-height: 24px;
        font-family: $Poppins;
        font-weight: 400;
        transition: all .5s;
    }
}

.btn-sugestao {
    width: 238px;
    height: 36px;
    border-radius: 5px;
    border: 1px solid $color-02;
    @include centralizar();
    a {
        color: $color-03;
        font-family: $Poppins;
        font-size: $span-01;
        font-weight: 400;
        line-height: 21px;
    }
}

.btn-desconto {
    width: 137px;
    height: 42px;
    border-radius: 5px;
    background-color: $color-11;
    @include centralizar();
    cursor: pointer;
    a,
    p,
    button {
        border: none;
        @include centralizar();
        color: $color-10;
        font-size: $span-02;
        font-weight: 400;
        line-height: 21px;
        font-family: $Poppins;
    }
}