// Import Fonts 
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lora:400,700&display=swap');
// Fonts
$Poppins: 'Poppins';
$Lora: 'Lora';
// Cores do Projeto
$color-01: #ffffff;
$color-02: #5205f7;
$color-03: #0b132b;
$color-04: #fcfcfc;
$color-05: #535766;
$color-06: #646b7d;
$color-07: #707070;
$color-08: #dadce3;
$color-09: #f89406;
$color-10: #0d1b1e;
$color-11: #ffbd66;
$color-12: #32394d;
$color-13: #f2f2f2;
$color-14: #fcfcff;
$color-15: #f5f5f7;
$color-16: #858994;
$color-17: #3d4357;
$color-18: #caccfc;
$color-19: #ffd599;
$default-diff: 12px;
$default-width: 100%;
$default-min: 5%;
//cheked
$pretty--color-success:$color-02;